<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/home">FLAROW</a>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="/#/login">
                            <i class="material-icons">fingerprint</i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="full-page login-page" filter-color="black">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                            <div class="card card-login card-hidden">
                                <div class="card-header text-center" data-background-color="red">
                                    <!-- <i class="material-icons">home</i> -->
                                    <i class="fa fa-sign-in fa-3x" aria-hidden="true"></i>
                                    <h4 class="card-title">Register</h4>
                                </div>
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">perm_identity</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Name</label>
                                            <input type="text" class="form-control" id="uname" name="uname" [ngModel]="name" required #uname="ngModel">
                                            <small [hidden]="uname.valid || (uname.pristine && !f.submitted)" class="text-danger">
                                                Please enter your name
                                            </small>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email address</label>
                                            <input type="email" class="form-control" id="email" 
                                            name="email" [ngModel]="emailId" #email="ngModel" 
                                            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                                            required>
                                            <small [hidden]="email.valid || (email.pristine && !f.submitted)" 
                                            class="text-danger">
                                                   Email id is invalid
                                            </small>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                                <i class="material-icons">phone_android</i>
                                            </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Mobile</label>
                                            <input type="text" id="mobile" name="mobile" 
                                            ngModel class="form-control" [(ngModel)]="mobileNo" 
                                            #mobile="ngModel" pattern="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"
                                            minlength="10" maxlength="10" required>
                                            <small [hidden]="mobile.valid || (mobile.pristine && !f.submitted)" 
                                            class="text-danger">
                                                    Mobile number is invalid
                                            </small>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Password</label>
                                            <input type="password" id="password" 
                                            name="password" ngModel class="form-control" 
                                            [(ngModel)]="pwd" #password="ngModel" minlength="6" required>
                                            <small [hidden]="password.valid || (password.pristine && !f.submitted)" 
                                            class="text-danger">
                                                    Password is invalid (should be minimum 6 characters)
                                            </small>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                                    <!-- <i class="material-icons">lock_outline</i> -->
                                        </span>
                                        <div class="form-group label-floating">
                                            <div class="radio">
                                                <label>
                                                        <input type="radio" name="userType" 
                                                        [value]="1"
                                                        [checked]="userType===1"
                                                        (change)="onTypeChange(1)" 
                                                        required>
                                                        LandLord
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                        <input type="radio" name="userType" 
                                                        [value]="0"
                                                        [checked]="userType===0"
                                                        (change)="onTypeChange(0)" 
                                                        required> 
                                                        Tenant
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button [disabled]="!f.valid" type="submit" 
                                    class="btn btn-rose btn-simple btn-wd btn-lg">Sign Up</button>
                                    <a href="#/login" 
                                    class="btn btn-rose btn-simple btn-wd btn-lg">Already registered? Sign In</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-page-background" style="background-image: url(//studphotos.s3.amazonaws.com/img/apartment.jpg) "></div>
    </div>
</div>