<div id="footer" class="sticky-footer">
		<!-- Main -->
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-6">
					<img class="footer-logo" src="http://studphotos.s3.amazonaws.com/images/logo.png" alt="">
					<br>
					<br> Flarow is a Smart Property & Rental Management Solution for the Urban Millenials.
					<br> Homeowners/Property Managers can invite their tenants, view their KYC Documents, Manage Monthly Rentals, Rental Due
					dates and much more.
					<br>Tenants can invite their Homeowners, upload KYC Documents once and use for future rentals, Manage Monthly Rentals, Rental
					Due dates and much more
				</div>
	
				<div class="col-md-4 col-sm-6 ">
					<h4><strong>Helpful Links</strong></h4>
					<ul class="footer-links">
						<li>
							<a href="#">Our Story</a>
						</li>
						<li>
							<a href="#">Testimonials</a>
						</li>
						<li>
							<a href="#">Work with Us</a>
						</li>
						<li>
							<a href="#">Partner with Us</a>
						</li>
						<li>
							<a href="#">Bug Bounty</a>
						</li>
	
					</ul>
	
					<ul class="footer-links">
						<li>
							<a href="#">Login</a>
						</li>
						<li>
							<a href="#">Sign Up</a>
						</li>
						<li>
							<a href="#">FAQ</a>
						</li>
						<li>
							<a href="#">How It Works</a>
						</li>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
	
				<div class="col-md-3  col-sm-12">
					<h4><strong>Contact Us</strong></h4>
					<div class="text-widget">
	
						<span>
							<i class="sl sl-icon-location-pin"></i>2/4 Palm View Apartments Thoraipakkam, PTC, OMR Chennai - 600097</span>
						<br>
						<i class="fa fa-whatsapp" aria-hidden="true"></i><span>&nbsp; Whatsapp:</span>
						<span>9042658569 </span>
						<br> E-Mail:
						<span>
							<a href="#">contact@flarow.com</a>
						</span>
						<br>
					</div>
	
					<ul class="social-icons margin-top-20">
						<li>
							<a class="facebook" href="#">
								<i class="icon-facebook"></i>
							</a>
						</li>
						<li>
							<a class="twitter" href="#">
								<i class="icon-twitter"></i>
							</a>
						</li>
						<!-- <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
							<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li> -->
					</ul>
	
				</div>
	
			</div>
	
			<!-- Copyright -->
			<div class="row">
				<div class="col-md-12">
					<div class="copyrights">© 2017 Flarow. All Rights Reserved.</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer / End -->
	
	
	<!-- Back To Top Button -->
	<div id="backtotop">
		<a href="#"></a>
	</div>