<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">home</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Ticket -
                                <small class="category">Your ticket details</small>
                            </h4>
                            <form (ngSubmit)="upload(f); f.reset()" #f="ngForm">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Title</label>
                                            <input type="text" class="form-control" id="title" name="title" 
                                            [ngModel]="ticket.title"
                                            required minlength="4" #title="ngModel">
                                            <small [hidden]="title.valid || (title.pristine && !f.submitted)" class="text-danger">
                                                Title should be more than 4 characters.
                                            </small>
                                        </div>
                                    </div>                                           
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Property Name</label>
                                        <input type="text" id="property" name="property" ngModel class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Description</label>
                                        <textarea class="form-control" rows="5" id="about"
                                        name="about" [(ngModel)]="ticket.about" #about="ngModel"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-rose pull-right">Create Ticket</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-product">
                        <div class="card-image" data-header-animation="false">
                            <a href="#pablo">
                                <img class="img" #imgPreview src="">
                            </a>
                        </div>                    
                        <div class="card-content">
                            <input #fileinput class="ng-hide" id="file-input" input-files="files"
                            type="file"  accept="image/*"
                            (change)="readUrl($event)"/>
                            <label for="file-input" class="btn btn-primary pull-right" #uploadButton id="uploadButton"
                            >Upload Photo</label>                                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    