<div class="wrapper wrapper-full-page">
        <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/#/home">FLAROW</a>
                    </div>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active">
                                <a href="/#/register">
                                    <i class="material-icons">person_add</i>Register
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    <div class="full-page login-page" filter-color="black">
        <!--  you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form  #f="ngForm">
                            <div class="card card-login card-hidden">
                                <div class="card-header text-center" data-background-color="red">
                                    <i class="material-icons">home</i>
                                    <h4 class="card-title">Login</h4>
                                </div>
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email address</label>
                                            <input type="email" id="email" name="email" ngModel class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Password</label>
                                            <input type="password" id="password" name="password" ngModel class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg" (click)="onSignin(f)">Login</button>
                                    <a href="#/forget" class="btn btn-rose btn-simple btn-wd btn-lg">Forget password?</a>
                                    <a href="#/register" class="btn btn-rose btn-simple btn-wd btn-lg">New Here? Register</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-page-background" style="background-image: url(//studphotos.s3.amazonaws.com/img/apartment.jpg) "></div>
    </div>
</div>
