.square-box{
    width:200px;
    height: 125px;
}

#profile-input { display: none; }

.profile-input-hide {
     position: relative;
     left: -6em;
}

.bring-forward {
     z-index:10;
}
 
img {
  background-image: url("//studphotos.s3.amazonaws.com/img/800x500.jpg");
  overflow: hidden;
}

img:before {
  content: " ";
  font-size: 1000px;
}